<!-- about OTSFM template -->
<section class="container col-xs-10 col-xs-offset-1 marginTop marginBottom">
	<div class="row">
		<div class="col-md-6">
		    <h3>About Old Town School</h3>
		    <h4>No Experience Necessary. No Experience Like It.</h4>

			<p>Old Town School is a place to set your own tone, make your own beat and get in your own groove. Since 1957 we’ve been teaching classes, holding concerts and letting folks come alive through music art and dance.</p>

			<p>Chicago’s Old Town School of Folk Music is the largest community school of the arts in the US and a non-profit organization committed to celebrating American music and global cultures. Chicagoans and folks from around the world join over 7,000 students for 8-week sessions in our music and dance classes at campuses in Lincoln Square and Lincoln Park.</p>

			<p>We offer concerts, workshops and weekly events like Global Dance Parties and World Music Wednesdays. Countless incredible artists have joined us for intimate concerts including Joni Mitchell, Ladysmith Black Mambazo, Ralph Stanley, Iron & Wine, Lila Downs, Hugh Masekela, Ani DiFranco, Vieux Farka Touré, Patti Smith, Steve Martin, Mavis Staples, Bela Fleck, Kinky, and Buika.</p>
		</div>
		<div class="col-md-6 text-center marginBottom">
			<img src="/images/otsfmAbout.jpg" style="max-width: 100%;">
		</div>
	</div>
</section>