<!-- about 77beats template -->
<section class="container col-xs-10 col-xs-offset-1 marginTop marginBottom">
	<div class="row">
		<div class="col-md-6">
		    <h3>What is 77 Beats?</h3>
		    <p><em>77 Beats</em> is a unique musical and cultural travelogue of the city of Chicago.</p>

			<p>Chicago is famously a “city of neighborhoods” each of which has it’s own character. The City of Chicago has designated seventy-seven neighborhoods within the city limits that include pockets of nearly every culture on our planet. <em>77 Beats</em> is a vehicle for introducing Chicago to itself, an exploration of Chicago’s music, food and culture.
			</p>

			<p>This event is brought to you by <a href="http://www.oldtownschool.org/" target="_blank">Old Town School of Folk Music</a> and the <a href="http://www.cityofchicago.org/city/en/depts/dca.html" target="_blank">Chicago Department of Cultural Affairs and Special Events</a>. <em>77 Beats</em> is the spiritual successor to 2015’s <a href="http://www.ironheartchicago.org/" target="_blank">Iron Heart Chicago</a>, which staged 60 concerts by masters of traditional music on L platforms all over the city. Both initiatives are productions of the Old Town School of Folk Music, the largest community school of the arts in the United States. This project is partially supported by an IncentOvate Grant from the City of Chicago Department of Cultural Affairs and Special Events.</p>

			<p>The whole world lives here in Chicago and you’re invited to explore the music, food and art created by your neighbors with your neighbors beginning Spring of 2016.</p>
		</div>
		<div class="col-md-6 text-center marginBottom">
			<img src="/images/77Beats_sm.jpg" style="max-width: 100%; max-height: 500px;">
		</div>
	</div>
</section>