<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      	<div class="navbar-header">
        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
        	</button>
			
        	<a href="/"><img id="otsfmlogo" src="/images/77Beats_GraphicLogo_reverse.png"></a>
        	<img id="otsfmlogo2" src="/images/77Beats_TextLogo_reverse.png">
      	</div>
      	<div class="navbar-collapse collapse" style="height: 1px;">
         	<ul class="nav navbar-nav navbar-right">
				<li><a href="events">EVENTS</a></li>
				<li><a href="flickr">GALLERY</a></li>
				<li><a href="about">WHAT IS 77 BEATS?</a></li>
				<li><a href="aboutotsfm">ABOUT</a></li>
				<li><a href="sponsors">SPONSORS & PARTNERS</a></li>
        	</ul>
        	<div class="drop-holder visible-xs">
				<span>FOLLOW US</span>
				<ul class="social-networks">
					<li><a class="fa fa-tumblr" href="http://oldtownschool.tumblr.com"></a></li>
					<li><a class="fa fa-twitter" href="http://twitter.com/oldtownschool"></a></li>
					<li><a class="fa fa-facebook" href="http://www.facebook.com/oldtownschool"></a></li>
					<li><a class="fa fa-instagram" href="http://www.instagram.com/oldtownschool"></a></li>
				</ul>
			</div>      
        </div>
      <!--/.nav-collapse -->
    </div>
</nav>